@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App  {
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center;
}


*  {
  box-sizing: border-box;
}

:root  {
  --black-font-color: #23263e;
  --body-background-color: #4d15b3;

  --white-font-color: #f2f2f2;

  --cyan-color:  #60ffc9;
  --yellow-color: #fad717;
}

body  {
  background-color: var(--body-background-color);

  color:  var(--white-font-color);

}

.app-button  {
  background-color: var(--cyan-color);

  border-radius: 10px;
  text-decoration: none;
  border: 2px solid transparent;

  padding: 5px;

  cursor: pointer;
  color:  var(--black-font-color);

  font-weight: bold;
}

.error-message  {
  color: red;
  font-weight: bold;
}

/* Login/Register form */

.auth-form-wrapper  {
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center;
}

.auth-form-buttons-wrapper  {
  display: flex;
  justify-content: space-between;

}

.auth-form-buttons-wrapper button  {
  margin: 1em;
}

input, textarea  {
  border-radius: 10px;
  text-decoration: none;
  border: 2px solid transparent;

  padding: 5px;

  cursor: pointer;

  margin-bottom: 2em;
}

input:hover   {
  border: 2px solid #d7458f;
}

textarea:hover  {
  border: 2px solid #d7458f;
}



/* Navbar */

.navbar {
  overflow: hidden;
  background-color: var(--yellow-color);

  color: var(--body-background-color);

  width: 100%;
}

.navbar a {
  float: left;
  font-size: 16px;
 text-align: center;
  padding: 14px 16px;
  text-decoration: none;

  cursor: pointer;
  font-weight: bold;

}

.navbar button  {
  cursor: pointer;
  font-weight: bold;

  color: var(--body-background-color);

}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropdown-button {
  font-size: 16px;
  border: none;
  outline: none;

  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropdown-button {
  background-color: var(--cyan-color);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Friends css */


/* View requests, tabs*/

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}